{% extends '_base.html' %}

{% load i18n %}

{% block page_title %}
    {% trans "about us" %}
{% endblock page_title %}

{% block content %}

    {% if user.is_authenticated %}
        <h1>
            {% blocktrans with name=user.username %}
                hello my name is {{ name }}.
            {% endblocktrans %}
        </h1>
        <br>
        <h3>
            {% blocktrans with email=user.email %}
                Any question, email me on {{ email }}.
            {% endblocktrans %}
        </h3>
    {% else %}
        <h2>
            <a href="{% url 'account_login' %}">
                {% trans "You must login first!" %}
            </a>
        </h2>
    {% endif %}
    
{% endblock content %}
